<launch>
    <!-- vim: set ft=xml noet : -->

    <!-- <include file="$(find mavros)/launch/apm.launch">
    </include>

    <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch">
    </include>

    <include file="$(find faster_lio)/launch/mapping_mid360.launch">
    </include>

    <include file="$(find vision_to_mavros)/launch/mid360_to_mavros.launch">
    </include>

    <include file="$(find dropper)/launch/dropper.launch">
    </include>

    <arg name="transform_json_path" default="/home/orangepi/robocup_ws/src/conductor/example/json/transforms.json" />
    <arg name="waypoint_json_path_1" default="/home/orangepi/robocup_ws/src/conductor/example/json/robocup_waypoint_1.json" />
    <arg name="waypoint_json_path_2" default="/home/orangepi/robocup_ws/src/conductor/example/json/robocup_waypoint_2.json" />
    <arg name="waypoint_json_path_3" default="/home/orangepi/robocup_ws/src/conductor/example/json/robocup_waypoint_3.json" />
    <arg name="waypoint_json_path_4" default="/home/orangepi/robocup_ws/src/conductor/example/json/robocup_waypoint_4.json" />
    <arg name="log_output" default="log" />
    <arg name="respawn_conductor" default="false" />
    <arg name="is_test" default="false" />
    <arg name="startup_delay" default="10.0" />

    <include file="$(find conductor)/launch/robocup.launch">
        <arg name="transform_json_path" value="$(arg transform_json_path)" />
        <arg name="waypoint_json_path_1" value="$(arg waypoint_json_path_1)" />
        <arg name="waypoint_json_path_2" value="$(arg waypoint_json_path_2)" />
        <arg name="waypoint_json_path_3" value="$(arg waypoint_json_path_3)" />
        <arg name="waypoint_json_path_4" value="$(arg waypoint_json_path_4)" />
        <arg name="log_output" value="$(arg log_output)" />
        <arg name="respawn_conductor" value="$(arg respawn_conductor)" />
        <arg name="is_test" value="$(arg is_test)" />
        <arg name="startup_delay" value="$(arg startup_delay)" />

    </include> -->

    <include file="$(find rknn_yolo)/launch/rknn_yolo.launch">
    </include>

</launch>
